:root {
  --timer: 3s;
}
div {
  width: 450px;
  height: 450px;
  display: block;
  position: relative;
  margin: auto;
  margin-top: 100px;
}

span {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: block;
  position: absolute;
}

/* (#19A68C, #F63D3A, #FDA543, #193848) */

span.r1 {
  top: 0;
  left: 0;
  background-color: #f63d3a;
  animation: r1Animate infinite var(--timer);
}

@keyframes r1Animate {
  0%,
  100% {
    left: 0%;
    top: 0%;
  }
  25% {
    left: calc(50% + 50px);
    top: 0%;
  }
  50% {
    left: calc(50% + 50px);
    top: calc(50% + 50px);
  }
  75% {
    left: 0%;
    top: calc(50% + 50px);
  }
}

span.r2 {
  right: 0;
  top: 0;
  background-color: #19a68c;
  animation: r2Animate infinite var(--timer);
}
@keyframes r2Animate {
  0%,
  100% {
    right: 0;
    top: 0;
  }
  25% {
    right: 0;
    top: calc(50% + 50px);
  }
  50% {
    right: calc(50% + 50px);
    top: calc(50% + 50px);
  }
  75% {
    right: calc(50% + 50px);
    top: 0;
  }
}

span.r3 {
  left: 0;
  bottom: 0;
  background-color: #fda543;
  animation: r3Animate infinite var(--timer);
}

@keyframes r3Animate {
  0%,
  100% {
    left: 0;
    bottom: 0;
  }
  25% {
    left: 0;
    bottom: calc(50% + 50px);
  }
  50% {
    left: calc(50% + 50px);
    bottom: calc(50% + 50px);
  }
  75% {
    left: calc(50% + 50px);
    bottom: 0;
  }
}

span.r4 {
  right: 0;
  bottom: 0;
  background-color: #193848;
  animation: r4Animate infinite var(--timer);
}

@keyframes r4Animate {
  0%,
  100% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: calc(50% + 50px);
    bottom: 0;
  }
  50% {
    bottom: calc(50% + 50px);
    right: calc(50% + 50px);
  }
  75% {
    bottom: calc(50% + 50px);
    right: 0;
  }
}

@media only screen and (max-width: 700px) {
  div {
    transform: scale(0.6);
  }
}
